<div class="window-box"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()"
     [scrollWindow]="false"
     #windowBox>
  <div class="wrapper" #wrapperDiv [class.justify-center]="shouldCenter">
    <div class="loading" *ngIf="isLoading">Loading...</div>

    <div
      class="user-recommendation-cards-list"
      id="content" #contentDiv>
      <app-user-recommendation-cards [users]="users"></app-user-recommendation-cards>
    </div>
  </div>
</div>
