<div class="window-box"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()"
     [scrollWindow]="false">
  <div class="wrapper" #wrapperDiv [class.justify-center]="shouldCenter">
    <app-loader *ngIf="isLoading"></app-loader>

    <div
      class="user-recommendation-cards-list"
      id="content" #contentDiv>
      <app-user-recommendation-cards [users]="users" [isLoading]="isLoading"></app-user-recommendation-cards>
    </div>
  </div>
</div>
