<div class="user-search-container">
  <mat-form-field appearance="outline" class="search-field" #searchField>
    <mat-label class="label"><mat-icon>search</mat-icon>Search users</mat-label>

    <input
      matInput type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange($event)"
      placeholder="Type name or email...">
    <button mat-icon-button *ngIf="searchTerm" matSuffix (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div *ngIf="isLoading" class="loading">Loading...</div>

  <div class="results" *ngIf="searchTerm.length > 0">
    <app-user-card *ngFor="let user of filteredUsers" [user]="user" (onUserCardClicked)="clearSearch()"></app-user-card>
    <div *ngIf="!filteredUsers?.length && !isLoading" class="no-results">No users found</div>
  </div>
</div>
