<mat-dialog-content>
  <div class="content" *ngIf="passwordForm">
    <p class="title">Change password</p>

    <form [formGroup]="passwordForm" class="password-form">
      <mat-form-field appearance="outline">
        <mat-label>Old Password</mat-label>
        <input matInput [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword">
        <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide old password'" [attr.aria-pressed]="hideOldPassword">
          <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.get('oldPassword')?.hasError('required') && passwordForm.get('oldPassword')?.touched">
          Old password is required
        </mat-error>
        <mat-error *ngIf="passwordForm.get('oldPassword')?.hasError('minlength') && passwordForm.get('oldPassword')?.touched">
          Old password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="passwordForm.get('oldPassword')?.hasError('maxlength') && passwordForm.get('oldPassword')?.touched">
          Old Password cannot exceed 30 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
        <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched">
          New password is required
        </mat-error>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched">
          New password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('maxlength') && passwordForm.get('newPassword')?.touched">
          New password cannot exceed 30 characters
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <app-loader *ngIf="isLoading"></app-loader>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button id="yes-button" (click)="onChangeClick()">Change</button>
</mat-dialog-actions>
