<mat-dialog-content id="create-post-box">
  <p class="title">Create post</p>

  <div class="image-upload-container">
    <img [src]="imagePreview" alt="Uploaded Image" class="image-preview">
    <app-image-uploader (imageCroppedEvent)="onImageSelected($event)"></app-image-uploader>
  </div>

  <mat-form-field appearance="outline" class="description-field">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button id="yes-button" (click)="onCreateClick()" [disabled]="!selectedImage">Create</button>
</mat-dialog-actions>
