<div class="window-box"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()"
     [scrollWindow]="false"
     >
  <div class="wrapper">
    <app-loader *ngIf="isLoading"></app-loader>
    <button mat-icon-button class="create-post-button" (click)="openCreatePostDialog()">
      <mat-icon>add</mat-icon>
    </button>

    <div
      class="post-cards-list"
      id="content" #contentDiv>

      <app-post-cards [posts]="posts" [isLoading]="isLoading"></app-post-cards>
    </div>
  </div>
</div>
