<app-navbar></app-navbar>
<div class="window-box"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()"
     [scrollWindow]="false">
  <div class="wrapper">
      <div *ngIf="isLoading">Loading...</div>
      <button mat-icon-button class="create-post-button" (click)="openCreatePostDialog()">
        <mat-icon>add</mat-icon>
      </button>

      <div
        class="post-cards-list"
        id="content" #contentDiv>

        <app-post-cards [posts]="posts"></app-post-cards>
      </div>
  </div>
</div>
