@if (loggedUser){
  <div class="add-comment-box">
    <img *ngIf="loggedUser.profileImage"
      class="profile-picture"
      (click)="goToProfilePage()"
      [src]="environment.server + loggedUser.profileImage.path"
      alt="Profile Picture"
      (error)="setDefaultProfileImage($event)">

    <div
      id="comment-textarea"
      contenteditable="true">

    </div>
    <button mat-icon-button class="send-button" matTooltip="send" (click)="onSendClick()">
      <mat-icon>send</mat-icon>
    </button>
  </div>

}
