@if (loggedUser){
  <div class="add-comment-box">
    <img *ngIf="loggedUser.profileImage"
      class="profile-picture"
      (click)="goToProfilePage()"
      [src]="environment.server + loggedUser.profileImage.path"
      alt="Profile Picture"
      (error)="setDefaultProfileImage($event)">

    <div class="comment-wrapper">
      <div class="comment-label">
        <span *ngIf="parentId">Replying:</span>
        <span *ngIf="!parentId">Commenting:</span>
      </div>

      <div id="comment-textarea" contenteditable="true" class="comment-content"></div>
    </div>

    <button mat-icon-button class="send-button" matTooltip="send" (click)="onSendClick()">
      <mat-icon>send</mat-icon>
    </button>
  </div>

}
