@if (user && loggedUser){
  <app-navbar></app-navbar>
  <div class="window-box">
    <div class="profile-container">
      <div class="top-section">
        <img class="profile-background" [src]="profileBackgroundImageUrl" alt=" ">
        <div class="profile-picture">
          <img [src]="profileImageUrl" alt=" ">
        </div>
        <div class="main-info-box">
          <div class="user-info">
            <div class="user-name-section">
              <span class="user-name">{{user.firstName}} {{user.lastName}}</span>

              @if(user.id !== loggedUser.id){
                <button *ngIf="isFollowing" class="unfollow-button" (click)="onUnfollowClicked()">Unfollow</button>
                <button *ngIf="!isFollowing" class="follow-button" (click)="onFollowClicked()">Follow</button>
              }

            </div>
            <div class="user-follow-section">
              <span><b>{{user.followers.length}}</b> followers</span>
              <span><b>{{user.following.length}}</b> following</span>
            </div>
          </div>
          <div class="stretch"></div>
<!--          @if(user.id == loggedUser.id){-->
<!--            <button mat-icon-button id="edit-profile-button" (click)="openEditUserDialog()">-->
<!--              <mat-icon class="edit-icon">edit</mat-icon>-->
<!--            </button>-->
<!--          }-->
        </div>
      </div>
      <div class="bottom-section">
        <div class="left-section">
          <div class="info-item" *ngIf="user.phoneNumber">
            <mat-icon class="info-item-icon">phone</mat-icon>
            <span>{{user.phoneNumber}}</span>
          </div>
          <div class="info-item" *ngIf="user.email">
            <mat-icon class="info-item-icon">mail</mat-icon>
            <span>{{user.email}}</span>
          </div>
          <div class="info-item" *ngIf="user.address">
            <mat-icon class="info-item-icon">location_pin</mat-icon>
            <span>{{user.address}}</span>
          </div>
        </div>
        <app-posts [userId]="user.id"></app-posts>
      </div>
    </div>
  </div>
}
